<article class="course-recommendation">
  <section class="course-recomendation__product">
    <ng-container *ngIf="ranking == 'low'">
		<ng-container *ngTemplateOutlet="standaloneRecommendation; context: { product: 'b2First' }"></ng-container>
    	<ng-container *ngTemplateOutlet="standaloneRecommendation; context: { product: 'c1Advanced' }"></ng-container>
	</ng-container>
    <ng-container *ngIf="ranking == 'average'">
		<ng-container *ngTemplateOutlet="standaloneRecommendation; context: { product: 'b2FirstForSchools' }"></ng-container>
	</ng-container>
    <ng-container *ngIf="ranking == 'high'">
		<ng-container *ngTemplateOutlet="standaloneRecommendation; context: { product: 'b1PreliminaryForSchools' }"></ng-container>
		<ng-container *ngTemplateOutlet="standaloneRecommendation; context: { product: 'a2KeyForSchools' }"></ng-container>
	</ng-container>
  </section>
</article>

<ng-template #standaloneRecommendation let-product="product">
  <article class="standalone-recommendation">
    <header
      [class]="'standalone-recommendation__header standalone-recommendation__header--' + recommendations[product].series + '-series'"
    >
		{{ recommendations[product].productName }}
    </header>
    <a
      href="https://testandtrain.com/"
      target="_blank"
      [class]="'standalone-recommendation__cta standalone-recommendation__cta--' + recommendations[product].series + '-series'"
    >
      Buy now for {{ recommendations[product].productPrice }}
    </a>
    <section class="standalone-recommendation__content">
      <img
        [src]="recommendations[product].image"
        class="standalone-recommendation__image"
      />
      <section>
        <h3 class="standalone-recommendation__product-heading">
			Test&Train Self-Study {{ recommendations[product].productName }} gives you
        </h3>
        <ul class="standalone-recommendation__list">
          <li
            *ngFor="let inclusion of recommendations[product].inclusions"
            class="standalone-recommendation__list-text"
          >
            <span class="standalone-recommendation__list-span">
              <img
                src="/assets/svg/eo_circle_green_checkmark.svg"
                class="standalone-recommendation__checkmark"
              />
            </span>
            {{ inclusion }}
          </li>
        </ul>
        <h3 class="standalone-recommendation__product-heading">
			Prepare for your exam day with Cambridge quality you can trust
        </h3>
        <ul class="standalone-recommendation__list">
          <li
            *ngFor="let benefit of recommendations[product].benefits"
            class="standalone-recommendation__list-text"
          >
            <span class="standalone-recommendation__list-span">
              <img
                src="/assets/svg/eo_circle_green_checkmark.svg"
                class="standalone-recommendation__checkmark"
              />
            </span>
            {{ benefit }}
          </li>
        </ul>
      </section>
    </section>
  </article>
</ng-template>
