:host {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 2rem 5rem;
	margin-top: 4rem;
	flex-direction: column;
	justify-content: space-around;
}

.results-screen {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-bottom: 2rem;

	&__header {
		display: flex;
		justify-content: center;
		margin-bottom: 3rem;
	}

	&__illustration {
		max-width: 350px;
	}

	&__content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
	}

	&__results-score {
		font-size: 2.5rem;
	}

	&__ranking {
		font-size: 3rem;
		font-weight: 900;
		text-transform: uppercase;
		margin: 1rem 0rem;

		&--low {
			color: rgb(243, 32, 32);
		}

		&--average {
			color: rgb(16, 197, 16);
		}

		&--high {
			color: rgb(16, 119, 236);
		}
	}

	&__greeting {
		font-size: 1.5rem;
		max-width: 900px;
		margin-bottom: 2rem;
		padding: 2rem;
		background-color: #FFFFFF;
		border: 3px solid #BBBBBB;
		box-shadow: 4px 4px 0 0px #BBBBBB;
	}
}

.course-recommendations {
	display: flex;
	flex-direction: column;
	align-items: center;

	&__header {
		display: inline-block;
		max-width: max-content;
		background-color: #6CD982;
		padding: 1rem 1.5rem;
		text-align: center;
		margin-bottom: 2rem;
		font-weight: 700;
	}
	&__component {
		border-radius: 2rem;
		background-color: #FFFFFF;
		padding: 2rem;
	}
}